.header-for-excursions
{
	height:30px;
	border-right: 3px solid black;
	border-left: 3px solid black;
	background:lightgray;
	font-size:20px;
	font-weight:bold;
	color:black;
	padding-top:10px;
}
.header-for-excursions p
{
	text-align:center;
	
}
.all-text-of-excursions
{
	width:700px;
	height:100%;
	font-size:12px;
	margin:10px auto;
	text-align:justify;
}
a:link
{
	text-decoration:none;
}
.excursions-request-button
{
	width:240px;
	height:50px;
	background:black;
	color:white;
	font-size:25px;
	margin:20px auto;
	padding: 20px 0 0 40px;
}